singularity {
    enabled = true
    autoMounts = true
}

params {
    fastqs = "/scratch/maxh/RNAseq/data/raw_fastqs"
    genome = "/scratch/maxh/RNAseq/data/genome"
    gtf = "/scratch/maxh/RNAseq/data/genome"
    results = "/scratch/maxh/RNAseq/results"
}

workDir = "/scratch/maxh/RNAseq/temp"

process {
    executor = 'slurm'

    withName:fastqc_raw {
        container = '/scratch/maxh/RNAseq/singularity-images/fastqc-latest.simg'
        cpus = 6
        memory = '24 GB'
        time = '1h'
    }
    withName:multiqc_raw {
        container = '/scratch/maxh/RNAseq/singularity-images/multiqc-latest.simg'
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }
    withName:trim {
        container = '/scratch/maxh/RNAseq/singularity-images/trimmomatic-latest.simg'
        cpus = 6
        memory = '24 GB'
        time = '1h'
    }
    withName:fastqc_trimmed {
        container = '/scratch/maxh/RNAseq/singularity-images/fastqc-latest.simg'
        cpus = 6
        memory = '24 GB'
        time = '1h'
    }
    withName:star_index {
        container = '/scratch/maxh/RNAseq/singularity-images/star-latest.simg'
        cpus = 8
        memory = '32 GB'
        time = '1h'
    }
    withName:star_align {
        container = '/scratch/maxh/RNAseq/singularity-images/star-latest.simg'
        cpus = 16
        memory = '64 GB'
        time = '1h'
    }
    withName:multiqc_trimmed {
        container = '/scratch/maxh/RNAseq/singularity-images/multiqc-latest.simg'
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }
}