docker.enabled = true

process {
    withName:fastqc_raw {
        container = 'binfgsc/fastqc:latest'
        cpus = 2
        memory = '2 GB'
        time = '1h'
    }
    withName:multiqc_raw {
        container = 'binfgsc/multiqc:latest'
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withName:trim {
        container = 'binfgsc/trimmomatic:latest'
        cpus = 2
        memory = '2 GB'
        time = '1h'
    }
    withName:fastqc_trimmed {
        container = 'binfgsc/fastqc:latest'
        cpus = 2
        memory = '2 GB'
        time = '1h'
    }
    withName:star_index {
        container = 'binfgsc/star:latest'
        cpus = 2
        memory = '14 GB'
        time = '2h'
    }
    withName:star_align {
        container = 'binfgsc/star:latest'
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
    withName:multiqc_trimmed {
        container = 'binfgsc/multiqc:latest'
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
}

params {
    fastqs = "/storage/RNAseq_example/raw_fastqs"
    genome = "/storage/RNAseq_example/genome"
    gtf = "/storage/RNAseq_example/genome"
    out_dir = "/storage/RNAseq_example/out"
}

workDir = "/storage/RNAseq_example/temp"